{% extends 'base/main.html' %}

{% load static %}
{% block content %}

<style type="text/css" media="screen">
  .editor-container {
    /* width: 900px;
    height: 540px;
    margin: 20px auto; */
    position: relative;
    height: 500px;
  }

  #firepad {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  a.powered-by-firepad {
    display: none;
  }

  #user-github-wrapper {
    height: 100px;
    width: 100px;
  }

  #user-github-handles {
    height: 85vh;
    width: 75%;
  }

  .github-card {
    height: 100%;
  }
</style>



<div class="content-wrap">
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 p-r-0 title-margin-right">
          <div class="page-header">
            <div class="page-title">
              <!-- <h1>Hello, <span>Welcome Here</span></h1> -->
              <!-- <section id="room-name-wrapper"> -->
              <h1>Room Name: <span id="room-name"></span></h1>
              <!-- </section> -->
            </div>
          </div>
        </div>
       
      </div>
      
      <div class="row">
        <div class="col-lg-8">
          <div class = "row" style="display:none">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-title">
                  <h4>Code Editor</h4>

                </div>
                  <div class="card-body">
                    <div class="editor-container" onload="codeEditorFunction()">
                      <div id="firepad">

                      </div>
                    </div>


                    <!-- <div class="dropdown" style="margin-top: 3px;"> -->
                    <select id="language-select" onchange="changeLanguage()" class="form-select" style="margin-top: 3px;">
                      <option value="python">Python</option>
                      <option value="java">Java</option>
                      <option value="ruby">Ruby</option>
                      <option value="javascript">Javascript</option>
                      <option value="clike">C</option>
                      <option value="Rust">Rust</option>
                    </select>
                    <!-- </div> -->

                    <!-- <div class="dropdown" style="margin-top: 3px;"></div> -->
                    <select id="theme-select" onchange="changeTheme()" class="form-select" style="margin-top: 3px;">
                      <option value="dracula">Dracula</option>
                      <option value="cobalt">Cobalt</option>
                      <option value="ambience">Ambience</option>
                      <option value="monokai">Monokai</option>
                      <option value="neo">Neo</option>
                    </select>
                    <!-- </div> -->


                    <!-- <div class="ct-bar-chart m-t-30"></div> -->
                 </div>
              </div>
           </div>
           <!-- row closed -->
         </div>   

        <div class="row" style="display:none">
          <!-- <div id="stdin-input"></div> -->
          <div class="col-lg-4">
            <!-- <div class="card"> -->
              <div class="card-title">
                Input Text
              </div>
              <div class="card-body">
  
                <form id="stdin" method="post">
                  {% csrf_token %}
                  <textarea name="stdin_in" id="stdin_in" cols="20" rows="10" class="form-control" style="height:200px;"></textarea>
                  <input type="submit" value="submit"   class="btn btn-primary btn-flat m-b-30 m-t-30" style="background-color: rgba(75,93,172,1);">
                
                </form>
  
                <!-- </div> -->
              </div>
            <!-- </div> -->
          </div>
  
          <div class="col-lg-4" >
            <!-- <div class="card"> -->
              <div class="card-title">
                Code Output
              </div>
              <div class="card-body">
                <textarea name="stdout" id="stdout" cols="20" rows="10" class="form-control" style="height:200px;"></textarea>
  
              </div>
  
            <!-- </div> -->
          </div>
  <!-- row closed -->
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
  
                  <!-- <section id="github-issues-wrapper"> -->
                    <!-- form container -->
                    <section id="github-issues">
                      <!-- form 1 -->
                      <form id="github-issue-form" method="post">
                        {% csrf_token %}
                        <div class="form-field ">
                          <input type="text" name="owner_username" placeholder="Enter name of Owner..." />
                        </div>
  
                        <div class="form-field ">
                          <input type="text" name="repository_name" placeholder="Repository Name..." />
                        </div>
  
                        <div class="form-field ">
                          <input type="password" name="authorization_code"
                            placeholder="Enter Your Personal Access Token" />
                        </div>
  
                        <div class="form-field ">
                          <input type="submit" value="submit-github-info" class="btn btn-default" />
                        </div>
  
                      </form>
  
                      <!-- form 2 -->
                      <div id="after-github-info" style="display:none">
                        <button id="create-issue-btn" class="btn btn-primary btn-block " style="background-color:rgba(75,93,172,1);">Create New Issue</button>
  
                        <!-- <div id="create-issue-form" style="display: none;"> -->
  
  
                        <form id="issue-assign" style="display: none;" method="post">
                          {% csrf_token %}
                          <p> Enter details of the Issue</p>
                          <div class="form-field">
                            <input type="text" name="issue_title" placeholder="Issue Title" />
                          </div>
  
                          <div class="form-field">
                            <input type="text" name="issue_body" placeholder="What is the issue about..." />
                          </div>
  
                          <div class="form-field">
                            <input type="text" name="issue_assignees" placeholder="Issue Assigned to ..." />
                          </div>
  
                          <div class="form-field">
                            <input type="text" name="issue_labels" placeholder="Issue Labels" />
                          </div>
  
                          <div class="form-field">
                            <input type="submit" value="submit_issue_info" />
                          </div>
  
                          <!-- <label for="name">Name:</label>
                                    <input type="text" id="name" name="name" required><br><br>
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" required><br><br>
                                    <input type="submit" value="Submit"> -->
                        </form>
                        <!-- </div> -->
  
  
                        <!-- <div id="create-repo-wrapper" style="display:none"> -->
                        <button id="create-repo-btn" class="btn btn-primary btn-block " style="background-color:rgba(75,93,172,1); margin-top: 3px;" >Create New Repo</button>
  
                        <!-- <div id="create-issue-form" style="display: none;"> -->
  
                        <form id="create-repo" style="display: none;" method="post">
                          {% csrf_token %}
                          <p> Enter details of the Issue</p>
                          <div class="form-field">
                            <input type="text" name="repo_title" placeholder="Repository Title" />
                          </div>
  
                          <div class="form-field">
                            <input type="text" name="repo_body" placeholder="What is the Repository about..." />
                          </div>
  
                          <div class="form-field">
                            <input type="text" name="repo_private" placeholder="Private repo or not (Yes/No)" />
                          </div>
  
                          <div class="form-field">
                            <input type="submit" value="submit_repo_info" />
                          </div>
  
                        </form>
                        <!-- </div> -->
                        <!-- </div> -->
                      </div>
  
  
                    </section>
                    <!-- <div class="ct-bar-chart m-t-30"></div> -->
  
                </div>
              </div>
              <!-- row closed  -->
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-title pr">
                    <h4>Repository Issues</h4>
                  </div>
                  <div class="card-body">
      
                    <div class="table-responsive">
                      <table class="table student-data-table m-t-20">
                        <thead>
                          <tr>
                            <th>Title</th>
                            <th>User</th>
                            <th>URL</th>
                          </tr>
                        </thead>
                        <tbody id="repo_issues">
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- row closed  -->
            </div>
          </div>
            <!-- row closed  -->
          </div>
        </div>
          
  
            <div class="col-lg-4">
              <div class="card">
  
                <div class="card-body">
                  <!-- <div class="ct-pie-chart"></div> -->
                  <section id="video-streams">
  
                  </section>
  
                </div>
              </div>
            </div>
          </div>
  
 
  
        <!-- //// -->
      </div>





      

    <div class="row">
      <div class="col-lg-12">
        <div class="footer">
          <p>System Practicum <a href="#">Group 17</a></p>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>
</div>





<main>



  <section id="controls-wrapper">

    <div class="icon-wrapper">
      <img class="control-icon-my" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
    </div>

    <div class="icon-wrapper">
      <img class="control-icon-my" id="camera-btn" src="{% static 'images/video.svg' %}" />
    </div>

    <div class="icon-wrapper">
      <img class="control-icon-my" id="leave-btn" src="{% static 'images/leave.svg' %}" />
    </div>

  </section>




  </section>


</main>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>

<!-- CodeMirror -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
<!-- options languages -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/ruby/ruby.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/dart/dart.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/rust/rust.min.js"></script>
<script type="text/javascript"
  src="  https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/php/php.min.js"></script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" />

<!-- theme options -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/dracula.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/ambiance.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/cobalt.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/monokai.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/neo.min.css" />


<!-- Firepad -->
<link rel="stylesheet" href="https://firepad.io/releases/v1.5.10/firepad.css" />
<script src="https://firepad.io/releases/v1.5.10/firepad.min.js"></script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->


<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.17.2.js' %}"></script>
<script type="text/javascript" src={% static 'js/streams.js' %}></script>

<!-- <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script> -->



<!-- -----------------ACE.JS CODE--------------------- -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.19.0/ace.js" ></script>
<script>
  let editor = document.querySelector("#editor")
  ace.edit(editor, {
    theme: 'ace/theme/cobalt'
  })
  // var editor = ace.edit("editor");
  // editor.setTheme("ace/theme/monokai");
  // editor.session.setMode("ace/mode/javascript");
</script> -->
<!-- ----------------ACE.JS CODE END------------------------------------ -->




{% endblock content %}