{% extends 'base/main.html' %} 

{% load static %}
{% block content %}

<style type="text/css" media="screen">

  .editor-container{
    width: 900px;
    height: 540px;
    margin: 20px auto;
    position: relative;
  }
  #firepad { 
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }

  #user-github-wrapper{
    height: 100px;
    width: 100px;
  }

  #user-github-handles{
    height: 85vh;
    width: 75%;
  }

  .github-card{
    height: 100%;
  }
</style>


<main>


  <ul id="repo_issues">
    
  </ul>

  <!-- <div class="github-card" data-github="AvniMittal13" data-width="400" data-height="150" data-theme="default"></div> -->

  <section id="room-name-wrapper">
    <p>Room Name: <span id="room-name"></span></p>
  </section>

  <section id="video-streams"></section>

  <section id="controls-wrapper">

    <div class="icon-wrapper">
      <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
    </div>

    <div class="icon-wrapper">
      <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" />
    </div>

    <div class="icon-wrapper">
      <img class="control-icon" id="leave-btn" src="{% static 'images/leave.svg' %}" />
    </div>

  </section>

<section id="github-issues-wrapper">
  <!-- form container -->
  <section id="github-issues">  
    <!-- form 1 -->
    <form id="github-issue-form" method="post">
      {% csrf_token %}
      <div class="form-field">
        <input type="text" name="owner_username" placeholder="Enter name of Owner..." />
      </div>

      <div class="form-field">
        <input type="text" name="repository_name" placeholder="Repository Name..." />
      </div>

      <div class="form-field">
        <input type="password" name="authorization_code" placeholder="Enter Your Personal Access Token" />
      </div>

      <div class="form-field">
        <input type="submit" value="submit-github-info" />
    </div>

    </form>

  <!-- form 2 -->
  <div id="after-github-info" style="display:none">
      <button id="create-issue-btn">Create New Issue</button>      

      <!-- <div id="create-issue-form" style="display: none;"> -->
        

        <form id="issue-assign" style="display: none;" method="post">
          {% csrf_token %}
          <p> Enter details of the Issue</p>
          <div class="form-field">
            <input type="text" name="issue_title" placeholder="Issue Title" />
          </div>
    
          <div class="form-field">
            <input type="text" name="issue_body" placeholder="What is the issue about..." />
          </div>
    
          <div class="form-field">
            <input type="text" name="issue_assignees" placeholder="Issue Assigned to ..." />
          </div>

          <div class="form-field">
            <input type="text" name="issue_labels" placeholder="Issue Labels" />
          </div>
    
          <div class="form-field">
            <input type="submit" value="submit_issue_info" />
          </div>

          <!-- <label for="name">Name:</label>
          <input type="text" id="name" name="name" required><br><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required><br><br>
          <input type="submit" value="Submit"> -->
        </form>
      <!-- </div> -->


      <!-- <div id="create-repo-wrapper" style="display:none"> -->
        <button id="create-repo-btn">Create New Repo</button>      
      
        <!-- <div id="create-issue-form" style="display: none;"> -->
          
          <form id="create-repo" style="display: none;" method="post">
            {% csrf_token %}
            <p> Enter details of the Issue</p>
            <div class="form-field">
              <input type="text" name="repo_title" placeholder="Repository Title" />
            </div>
      
            <div class="form-field">
              <input type="text" name="repo_body" placeholder="What is the Repository about..." />
            </div>
      
            <div class="form-field">
              <input type="text" name="repo_private" placeholder="Private repo or not (Yes/No)" />
            </div>
      
            <div class="form-field">
              <input type="submit" value="submit_repo_info" />
            </div>
      
          </form>
        <!-- </div> -->
      <!-- </div> -->
    </div>


  </section>

</section>



  <!-- <section id = "user-github-handles"> -->
  
      <!-- <div class="github-card" data-github= data-width="400" data-height="150" data-theme="default"></div> -->
    
  <!-- </section> -->

  
  <!-- <section id="user-github-wrapper"> -->

  <!-- <section id = "user-github-handles">
    {% for user in github_handles %}
      <div class="github-card" data-github={{ user.name }} data-width="400" data-height="150" data-theme="default"></div>
    {% endfor %}
  </section> -->
  <!-- <section id="user-github-wrapper">



  
  </section> -->
  <!-- <div id="code-editor"></div> -->

  <div class="editor-container" onload = "codeEditorFunction()">
    <div id="firepad"> 

    </div> 
  </div>

  <select id="language-select" onchange="changeLanguage()">
    <option value="python">Python</option>
    <option value="java">Java</option>
    <option value="ruby">Ruby</option>
    <option value="javascript">Javascript</option>
    <option value="clike">C</option>
    <option value="Rust">Rust</option>
  </select>

  <select id="theme-select" onchange="changeTheme()">
    <option value="dracula">Dracula</option>
    <option value="cobalt">Cobalt</option>
    <option value="ambience">Ambience</option>
    <option value="monokai">Monokai</option>
    <option value="neo">Neo</option>
  </select>


  <div id="stdin-input">
    <form id="stdin">
      <textarea name="stdin_in" id="stdin_in" cols="20" rows="10"></textarea>
      <input type="submit" value="submit">
    </form>

    <textarea name="stdout" id="stdout" cols="20" rows="10"></textarea>
  </div>


  
  <!-- <div class="editor-container">
    <div id="editor">
      //Write code here
    </div>
  </div> -->

  
  <!-- NOT USEFUL CODE -->
<!-- <script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script> -->

  

</main>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.2/firebase-database.js"></script>

  <!-- CodeMirror -->
  <script  type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
  <!-- options languages -->
  <script  type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
  <script  type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js"></script>
  <script  type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
  <script  type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/ruby/ruby.min.js"></script>
  <script  type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/dart/dart.min.js"></script>
  <script  type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/rust/rust.min.js"></script>
  <script  type = "text/javascript" src="  https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/php/php.min.js"></script>



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"/>

  <!-- theme options -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/dracula.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/ambiance.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/cobalt.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/monokai.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/neo.min.css"/>

  
  <!-- Firepad -->
  <link rel="stylesheet" href="https://firepad.io/releases/v1.5.10/firepad.css" />
  <script src="https://firepad.io/releases/v1.5.10/firepad.min.js"></script>




  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- 
<script>
  
    // Initialize the Firebase SDK.
    firebase.initializeApp({
      apiKey: 'AIzaSyDtz7Sro_WRcXsd1JNByOVz-gbDJkPCsak',
      databaseURL: 'https://collabhub-ab2b3-default-rtdb.firebaseio.com'
    });

    // Get Firebase Database reference.
    var firepadRef = firebase.database().ref();

    const urlpatterns = new URLSearchParams(window.location.search)
    const roomId = urlpatterns.get("id")

    if(roomId) {
      firepadRef = firepadRef.child(roomId)
    } else {
      firepadRef = firepadRef.push()
      window.history.replaceState(null, "Collab Hub", "?id="+firepadRef.key)
    }
    // Create CodeMirror (with lineWrapping on).
    var codeMirror = CodeMirror(document.getElementById('firepad'), { 
    lineWrapping: true , 
    lineNumbers: true,
    theme: 'dracula',
    mode: 'javascript'});
    codeMirror.setSize("100%", "100%")
    // Create Firepad (with rich text toolbar and shortcuts enabled).
    var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
        { defaultText: 'Hello, World!' });

</script> -->

<!-- -----------------ACE.JS CODE--------------------- -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.19.0/ace.js" ></script>
<script>
  let editor = document.querySelector("#editor")
  ace.edit(editor, {
    theme: 'ace/theme/cobalt'
  })
  // var editor = ace.edit("editor");
  // editor.setTheme("ace/theme/monokai");
  // editor.session.setMode("ace/mode/javascript");
</script> -->
<!-- ----------------ACE.JS CODE END------------------------------------ -->


<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

<script type = "text/javascript" src = "{% static 'assets/AgoraRTC_N-4.17.2.js' %}"></script>
<script type = "text/javascript" src = {% static 'js/streams.js' %}></script>

{% endblock content %}
